*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
h1 {
  text-align: center;
  margin: 1rem 0;
  color: rgb(128, 0, 128);
}
form {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
form label {
  font-weight: bold;
  margin-right: 8px;
  font-size: 1.25rem;
}

form input {
  padding: 4px 16px;
  border: 1px solid purple;
  outline: none;
  border-radius: 4px;
}

form button,
.list-item button {
  background-color: rgba(128, 0, 128, 0.7);
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}
.todo-list {
  list-style: none;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}

.list-item {
  background-color: rgba(221, 160, 221, 0.277);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 4px 4px 6px gray;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: bold;
}
