body {
  background-color: gray;
}

.container {
  background-color: rgba(0, 0, 0, 0.837);
  padding: 16px;
  margin: 24px 0;
}
.draggable {
  background-color: rgba(255, 255, 255, 0.911);
  padding: 16px;
  cursor: move;
}
.draggable.dragging {
  background-color: rgba(129, 79, 79, 0.789);
}
